workflows/google-calendar-push.json
{
  "name": "Google Calendar Push",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "task-to-calendar",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "task-to-calendar"
    },
    {
      "parameters": {
        "jsCode": "const { userId, taskId, title, description, dueDate } = $json.body;\nif (!dueDate) return [];\nreturn [{ json: { userId, taskId, title, description, dueDate } }];"
      },
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendar": { "__rl": true, "value": "primary", "mode": "id" },
        "start": "={{ $json.dueDate }}",
        "end": "={{ $json.dueDate }}",
        "additionalFields": {
          "summary": "={{ $json.title }}",
          "description": "={{ $json.description }}"
        }
      },
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "name": "Google Calendar - Production"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://firestore.googleapis.com/v1/projects/{{ $env.FIREBASE_PROJECT_ID }}/databases/(default)/documents/tasks/{{ $('Validate Input').first().json.userId }}/tasks/{{ $('Validate Input').first().json.taskId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "fields.calendarEventId.stringValue", "value": "={{ $json.id }}" }
          ]
        },
        "options": {}
      },
      "name": "Write Back Calendar ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]] },
    "Validate Input": { "main": [[{ "node": "Create Calendar Event", "type": "main", "index": 0 }]] },
    "Create Calendar Event": { "main": [[{ "node": "Write Back Calendar ID", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "calendar-sync" }]
}
